<%= form_with(url: groups_send_email_path, method: :post, html: { class: 'group-container' }) do |form| %>
  <%= form.hidden_field :group_id, value: @group_id %>
  <div class="form-group">
    <%= form.label :user_id, "Выберите человека" %>
    <%= form.collection_select :user_id, @users, :id, :full_name, include_blank: false, class: 'select-field' %>
  </div>
  <%= form.submit("Отправить приглашение", class: 'submit-button') %>
<% end %>
