<p style="color: green"><%= notice %></p>
<div id = 'change_buttons'>
  <% if current_page?(:controller => 'groups', :action => 'show') %>
    <div id = 'btn'><%= button_to "members", "/groups/list_of_users/#{@group.id}", class: 'btn btn-primary' %></div>
    <div id = 'btn'><%= button_to 'calendar', "/groups/calendar/#{@group.id}", class: 'btn btn-primary'%></div>
    <div id = 'btn'><%= button_to 'info', "/groups/information/#{@group.id}", class: 'btn btn-primary'%></div>
  <% end %>
  <% if current_page?(:controller => 'groups', :action => 'list_of_users') %>
    <div id = 'btn'><%= button_to "members", "/groups/list_of_users/#{@group.id}", class: 'btn btn-primary disabled' %></div>
    <div id = 'btn'><%= button_to 'calendar', "/groups/calendar/#{@group.id}", class: 'btn btn-primary'%></div>
    <div id = 'btn'><%= button_to 'info', "/groups/information/#{@group.id}", class: 'btn btn-primary'%></div>
  <% end %>
  <% if current_page?(:controller => 'groups', :action => 'calendar') %>
    <div id = 'btn'><%= button_to "members", "/groups/list_of_users/#{@group.id}", class: 'btn btn-primary ' %></div>
    <div id = 'btn'><%= button_to 'calendar', "/groups/calendar/#{@group.id}", class: 'btn btn-primary disabled'%></div>
    <div id = 'btn'><%= button_to 'info', "/groups/information/#{@group.id}", class: 'btn btn-primary'%></div>
  <% end %>
  <% if current_page?(:controller => 'groups', :action => 'information') %>
    <div id = 'btn'><%= button_to "members", "/groups/list_of_users/#{@group.id}", class: 'btn btn-primary ' %></div>
    <div id = 'btn'><%= button_to 'calendar', "/groups/calendar/#{@group.id}", class: 'btn btn-primary'%></div>
    <div id = 'btn'><%= button_to 'info', "/groups/information/#{@group.id}", class: 'btn btn-primary disabled'%></div>
  <% end %>
</div>
<div id='response-container'></div>
